<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Game I_P</title>
  </head>
  <body>
    <nav>
      <li class="image">
        <a href="/">
          <img src="/assets/logo.png" width="200" alt="" />
        </a>
      </li>
      <div>
      </div>
    </nav>
  </body>
</html>
